In [2]:
# Q1 – Load the dataset with Pandas
import pandas as pd
df = pd.read_csv("globalAirQuality.csv")

In [3]:
# Q2 – Display first 10 rows
# Your answer here:

df.head(10)

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
5,2025-11-04 23:25:17.554219,US,New York,40.713,-74.006,31.242,92.779,30.633,8.030,43.725,0.347,92,15.159,42.505,1.199
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
7,2025-11-05 01:25:17.554219,US,New York,40.713,-74.006,57.816,111.709,34.533,6.945,41.304,0.771,115,37.891,53.314,7.605
8,2025-11-05 02:25:17.554219,US,New York,40.713,-74.006,60.914,44.775,40.936,6.779,36.751,1.014,121,24.092,48.148,8.686
9,2025-11-05 03:25:17.554219,US,New York,40.713,-74.006,16.464,76.631,28.119,8.561,79.467,1.081,76,11.490,29.403,3.762

In [4]:
# Q3 – Check number of rows & columns
# Your answer here:

df.shape

(18000, 15)

In [5]:
# Q4 – Check column data types
# Your answer here:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    18000 non-null  object
 1   country      18000 non-null  object
 2   city         18000 non-null  object
 3   latitude     18000 non-null  float64
 4   longitude    18000 non-null  float64
 5   pm25         18000 non-null  float64
 6   pm10         18000 non-null  float64
 7   no2          18000 non-null  float64
 8   so2          18000 non-null  float64
 9   o3           18000 non-null  float64
 10  co           18000 non-null  float64
 11  aqi          18000 non-null  int64
 12  temperature  18000 non-null  float64
 13  humidity     18000 non-null  float64
 14  wind_speed   18000 non-null  float64
dtypes: float64(11), int64(1), object(3)
memory usage: 2.1+ MB

In [6]:
# Q5 – Check for missing values
# Your answer here:

df.isnull().sum()

timestamp      0
country        0
city           0
latitude       0
longitude      0
pm25           0
pm10           0
no2            0
so2            0
o3             0
co             0
aqi            0
temperature    0
humidity       0
wind_speed     0
dtype: int64

In [7]:
# Q6 – Convert timestamp column to datetime
# Your answer here:

df["timestamp"] = pd.to_datetime(df["timestamp"])
df['timestamp'].dtype

dtype('<M8[ns]')

In [8]:
# Q7 – Display unique countries and cities
# Your answer here:

unique_countries = df["country"].unique()
unique_countries
unique_cities = df["city"].unique()
unique_cities

array(['New York', 'Los Angeles', 'London', 'Paris', 'Berlin', 'Madrid',
       'Rome', 'Toronto', 'Mexico City', 'São Paulo', 'Buenos Aires',
       'Cape Town', 'Cairo', 'Nairobi', 'Lagos', 'Dubai', 'Riyadh',
       'Doha', 'Mumbai', 'Delhi', 'Bengaluru', 'Kolkata', 'Chennai',
       'Tokyo', 'Osaka', 'Seoul', 'Beijing', 'Shanghai', 'Hong Kong',
       'Singapore', 'Bangkok', 'Kuala Lumpur', 'Jakarta', 'Sydney',
       'Melbourne', 'Auckland', 'Moscow', 'Istanbul', 'Tehran', 'Karachi',
       'Manila', 'Ho Chi Minh City', 'San Francisco', 'Chicago',
       'Houston', 'Vancouver', 'Warsaw', 'Stockholm', 'Helsinki',
       'Zurich'], dtype=object)

In [9]:
# Q8 – Filter data where AQI > 150
# Your answer here:

df_filtered = df[df["aqi"] > 150]
df_filtered

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
19,2025-11-05 13:25:17.554219,US,New York,40.713,-74.006,49.693,83.965,60.763,7.811,60.188,0.589,151,11.743,58.646,6.374
44,2025-11-06 14:25:17.554219,US,New York,40.713,-74.006,78.186,114.005,17.993,5.932,18.151,0.845,156,31.779,49.093,8.211
53,2025-11-06 23:25:17.554219,US,New York,40.713,-74.006,76.530,35.490,38.587,5.023,38.581,0.679,153,28.228,50.499,3.611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17822,2025-11-12 08:25:17.554219,CH,Zurich,47.377,8.542,20.396,25.365,67.072,5.699,31.725,0.791,167,36.316,47.328,3.349
17885,2025-11-14 23:25:17.554219,CH,Zurich,47.377,8.542,52.162,35.304,76.076,6.090,44.849,0.557,190,6.196,32.675,4.792
17886,2025-11-15 00:25:17.554219,CH,Zurich,47.377,8.542,92.897,91.800,7.016,6.932,21.053,0.805,185,17.023,39.594,7.624
17888,2025-11-15 02:25:17.554219,CH,Zurich,47.377,8.542,51.223,69.873,64.933,6.655,31.039,1.017,162,8.356,82.557,3.340
17993,2025-11-19 11:25:17.554219,CH,Zurich,47.377,8.542,76.613,37.495,29.662,5.419,57.042,1.103,153,20.437,79.602,2.663

In [10]:
# Q9 – Sort by PM2.5 descending
# Your answer here:

df.sort_values(by = "pm25", ascending = False).head(10)

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
17529,2025-11-15 03:25:17.554219,FI,Helsinki,60.170,24.938,115.683,81.714,54.764,6.687,39.552,0.685,231,25.795,87.839,6.705
745,2025-11-05 19:25:17.554219,GB,London,51.507,-0.128,107.144,43.819,13.389,4.601,21.680,0.890,214,19.055,66.245,1.637
14555,2025-11-11 05:25:17.554219,PH,Manila,14.600,120.984,103.023,66.678,43.284,2.167,48.250,0.849,206,11.027,63.522,7.635
8941,2025-11-17 07:25:17.554219,JP,Osaka,34.694,135.502,102.142,95.204,41.688,7.806,28.951,0.753,204,15.277,76.131,4.586
13229,2025-11-15 23:25:17.554219,RU,Moscow,55.756,37.617,98.919,5.458,36.457,5.947,46.535,0.886,197,22.246,32.652,4.734
3786,2025-11-12 12:25:17.554219,AR,Buenos Aires,-34.604,-58.382,98.669,66.434,17.481,7.104,69.055,0.476,197,16.320,67.502,3.536
3115,2025-11-14 13:25:17.554219,MX,Mexico City,19.433,-99.133,98.327,97.741,23.343,8.865,46.702,0.713,196,30.738,66.421,1.256
11321,2025-11-11 11:25:17.554219,MY,Kuala Lumpur,3.139,101.687,97.323,25.452,21.753,6.991,49.607,0.782,194,14.922,46.271,7.508
10463,2025-11-05 17:25:17.554219,SG,Singapore,1.352,103.820,96.990,70.755,39.352,8.797,34.517,0.558,193,21.696,78.150,7.132
11891,2025-11-05 05:25:17.554219,AU,Sydney,-33.869,151.209,96.517,88.197,32.500,6.503,63.414,0.638,193,34.785,53.453,8.300

In [17]:
# Q10 – Group by country and calculate mean AQI
# Your answer here:

df.groupby('country')['aqi'].mean()

country
AE    105.530556
AR    105.950000
AU    103.461111
BR    104.319444
CA    104.544444
CH    105.722222
CN    102.893056
DE    104.422222
EG    106.052778
ES    105.488889
FI    105.108333
FR    105.763889
GB    103.044444
HK    103.488889
ID    104.316667
IN    104.265000
IR    102.150000
IT    105.033333
JP    104.997222
KE    104.747222
KR    105.119444
MX    105.697222
MY    105.005556
NG    106.616667
NZ    104.730556
PH    103.669444
PK    106.300000
PL    104.291667
QA    107.366667
RU    106.197222
SA    104.772222
SE    102.391667
SG    106.480556
TH    105.191667
TR    104.083333
US    104.482778
VN    101.536111
ZA    106.158333
Name: aqi, dtype: float64

In [18]:
# Q11 – Group by city and find top 5 for PM2.5
# Your answer here:

df.groupby('city')['pm25'].mean().nlargest(10)

city
Karachi    41.774103
Tehran     41.627239
Sydney     41.617336
Chennai    41.613775
Bangkok    41.426669
Name: pm25, dtype: float64

In [19]:
# Q12 – Find correlations of AQI with numeric columns
# Your answer here:

df.corr(numeric_only=True)['aqi']

latitude      -0.001187
longitude     -0.008687
pm25           0.556094
pm10           0.207499
no2            0.531731
so2           -0.005202
o3             0.008000
co            -0.001763
aqi            1.000000
temperature    0.004978
humidity      -0.000610
wind_speed     0.003798
Name: aqi, dtype: float64

In [20]:
# Q13 – Create new feature columns (hour, day, month from timestamp)
# Your answer here:

df['hour'] = df['timestamp'].dt.hour
df['day'] = df['timestamp'].dt.day
df['month'] = df['timestamp'].dt.month

In [21]:
# Q14 – Check duplicates (count & display)
# Your answer here:

df.duplicated().sum()

np.int64(0)

In [16]:
# Q15 – Remove duplicates if needed
# Your answer here:

No duplicates so no need to remove the duplicate

In [27]:
# Q16 – Handle missing values (drop or fill)
# Your answer here:

df.isna().sum()
df = df.dropna()

In [31]:
# Q17 – Boolean filter: temperature > 25 and humidity < 40
# Your answer here:

filtered_data = df[(df['temperature'] > 25) & (df['humidity'] < 40)]
filtered_data

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed,hour,day,month
10,2025-11-05 04:25:17.554219,US,New York,40.713,-74.006,48.469,72.858,23.356,4.244,34.794,0.973,96,27.913,34.736,5.054,4,5,11
22,2025-11-05 16:25:17.554219,US,New York,40.713,-74.006,18.385,27.829,19.647,6.642,54.364,0.818,49,32.209,25.117,8.398,16,5,11
28,2025-11-05 22:25:17.554219,US,New York,40.713,-74.006,49.362,87.630,42.622,10.317,59.281,0.621,106,25.706,34.213,7.491,22,5,11
34,2025-11-06 04:25:17.554219,US,New York,40.713,-74.006,43.347,60.078,29.800,5.121,33.756,0.597,86,36.287,34.515,9.988,4,6,11
40,2025-11-06 10:25:17.554219,US,New York,40.713,-74.006,34.911,61.065,23.065,5.959,69.458,0.763,69,30.752,28.463,2.294,10,6,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17959,2025-11-18 01:25:17.554219,CH,Zurich,47.377,8.542,69.826,90.040,26.413,3.524,42.637,0.997,139,27.633,27.950,8.830,1,18,11
17960,2025-11-18 02:25:17.554219,CH,Zurich,47.377,8.542,52.773,49.298,9.378,6.544,55.697,0.770,105,26.690,36.852,6.797,2,18,11
17962,2025-11-18 04:25:17.554219,CH,Zurich,47.377,8.542,19.369,36.581,18.829,9.863,49.271,0.879,47,32.809,27.252,1.060,4,18,11
17972,2025-11-18 14:25:17.554219,CH,Zurich,47.377,8.542,37.948,21.345,29.048,8.974,46.526,1.223,75,32.541,29.417,9.725,14,18,11
17991,2025-11-19 09:25:17.554219,CH,Zurich,47.377,8.542,52.120,71.160,35.405,7.752,39.811,0.878,104,32.556,31.372,2.787,9,19,11

In [32]:
# Q18 – Export cleaned dataset
# Your answer here:

df.to_csv("cleaned_dataset.csv", index = False)

In [37]:
# Q19 – Identify the top 3 most correlated features with AQI using Pandas
# Your answer here:

aqi_corr = df.corr(numeric_only=True)['aqi'].drop('aqi').abs().head(10)
aqi_corr

latitude       0.001187
longitude      0.008687
pm25           0.556094
pm10           0.207499
no2            0.531731
so2            0.005202
o3             0.008000
co             0.001763
temperature    0.004978
humidity       0.000610
Name: aqi, dtype: float64

In [39]:
# Q20 – Create a country-level summary table using Pandas
# Your answer here:

country_summary = df.groupby("country").agg(mean_aqi=("aqi", "mean"),max_pm25=("pm25", "max"),min_pm10=("pm10", "min"),
avg_temperature=("temperature", "mean"),records_count=("country", "count")).reset_index().sort_values(by="mean_aqi", ascending=False)
country_summary

   country    mean_aqi  max_pm25  min_pm10  avg_temperature  records_count
28      QA  107.366667    93.152     5.209        22.137225            360
23      NG  106.616667    95.243     4.356        20.696878            360
32      SG  106.480556    96.990     1.336        20.809581            360
26      PK  106.300000    90.963     0.936        21.060481            360
29      RU  106.197222    98.919     5.413        21.222100            360
37      ZA  106.158333    95.213     7.439        22.256256            360
8       EG  106.052778    88.094     0.925        21.366767            360
1       AR  105.950000    98.669     1.008        20.384761            360
11      FR  105.763889    86.621     6.615        21.628506            360
5       CH  105.722222    92.897     4.584        21.436250            360
21      MX  105.697222    98.327     7.878        22.168814            360
0       AE  105.530556    94.608     7.689        21.672989            360
9       ES  105.488889    91.806     3.895        21.634861            360
33      TH  105.191667    88.768    11.819        22.000150            360
20      KR  105.119444    89.089     0.061        21.612100            360
10      FI  105.108333   115.683     1.720        21.275400            360
17      IT  105.033333    95.142     5.229        21.204608            360
22      MY  105.005556    97.323     2.939        21.243228            360
18      JP  104.997222   102.142     1.922        21.244110            720
30      SA  104.772222    88.466     0.647        21.483903            360
19      KE  104.747222    86.207     2.764        22.438844            360
24      NZ  104.730556    88.126     7.127        21.745267            360
4       CA  104.544444    94.018     1.013        21.652768            720
35      US  104.482778    96.012     0.614        21.632020           1800
7       DE  104.422222    91.259     7.998        21.582986            360
3       BR  104.319444    85.967     4.237        22.291686            360
14      ID  104.316667    82.973     1.877        22.242069            360
27      PL  104.291667    93.612     0.469        21.632367            360
15      IN  104.265000    95.929     0.134        21.509718           1800
34      TR  104.083333    89.660     0.580        21.691386            360
25      PH  103.669444   103.023     1.474        21.119350            360
13      HK  103.488889    91.637     2.016        21.371528            360
2       AU  103.461111    96.517     1.105        20.578675            720
12      GB  103.044444   107.144     5.095        20.710528            360
6       CN  102.893056    85.779     2.272        21.703626            720
31      SE  102.391667    88.014     0.154        22.440094            360
16      IR  102.150000    88.921     1.194        21.387303            360
36      VN  101.536111    89.813     1.828        21.497225            360