In [2]:
# Q1 – Load the dataset with Pandas
import pandas as pd
df = pd.read_csv("globalAirQuality.csv")

In [3]:
# Q2 – Display first 10 rows
# Your answer here:

df.head(10)

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
5,2025-11-04 23:25:17.554219,US,New York,40.713,-74.006,31.242,92.779,30.633,8.030,43.725,0.347,92,15.159,42.505,1.199
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
7,2025-11-05 01:25:17.554219,US,New York,40.713,-74.006,57.816,111.709,34.533,6.945,41.304,0.771,115,37.891,53.314,7.605
8,2025-11-05 02:25:17.554219,US,New York,40.713,-74.006,60.914,44.775,40.936,6.779,36.751,1.014,121,24.092,48.148,8.686
9,2025-11-05 03:25:17.554219,US,New York,40.713,-74.006,16.464,76.631,28.119,8.561,79.467,1.081,76,11.490,29.403,3.762

In [4]:
# Q3 – Check number of rows & columns
# Your answer here:

df.shape

(18000, 15)

In [6]:
# Q4 – Check column data types
# Your answer here:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   timestamp    18000 non-null  object
 1   country      18000 non-null  object
 2   city         18000 non-null  object
 3   latitude     18000 non-null  float64
 4   longitude    18000 non-null  float64
 5   pm25         18000 non-null  float64
 6   pm10         18000 non-null  float64
 7   no2          18000 non-null  float64
 8   so2          18000 non-null  float64
 9   o3           18000 non-null  float64
 10  co           18000 non-null  float64
 11  aqi          18000 non-null  int64
 12  temperature  18000 non-null  float64
 13  humidity     18000 non-null  float64
 14  wind_speed   18000 non-null  float64
dtypes: float64(11), int64(1), object(3)
memory usage: 2.1+ MB

In [9]:
# Q5 – Check for missing values
# Your answer here:

df.isnull().sum()

timestamp      0
country        0
city           0
latitude       0
longitude      0
pm25           0
pm10           0
no2            0
so2            0
o3             0
co             0
aqi            0
temperature    0
humidity       0
wind_speed     0
dtype: int64

In [15]:
# Q6 – Convert timestamp column to datetime
# Your answer here:

df["timestamp"] = pd.to_datetime(df["timestamp"])
df['timestamp'].dtype

dtype('<M8[ns]')

In [18]:
# Q7 – Display unique countries and cities
# Your answer here:

unique_countries = df["country"].unique()
unique_countries
unique_cities = df["city"].unique()
unique_cities

array(['New York', 'Los Angeles', 'London', 'Paris', 'Berlin', 'Madrid',
       'Rome', 'Toronto', 'Mexico City', 'São Paulo', 'Buenos Aires',
       'Cape Town', 'Cairo', 'Nairobi', 'Lagos', 'Dubai', 'Riyadh',
       'Doha', 'Mumbai', 'Delhi', 'Bengaluru', 'Kolkata', 'Chennai',
       'Tokyo', 'Osaka', 'Seoul', 'Beijing', 'Shanghai', 'Hong Kong',
       'Singapore', 'Bangkok', 'Kuala Lumpur', 'Jakarta', 'Sydney',
       'Melbourne', 'Auckland', 'Moscow', 'Istanbul', 'Tehran', 'Karachi',
       'Manila', 'Ho Chi Minh City', 'San Francisco', 'Chicago',
       'Houston', 'Vancouver', 'Warsaw', 'Stockholm', 'Helsinki',
       'Zurich'], dtype=object)

In [21]:
# Q8 – Filter data where AQI > 150
# Your answer here:

df_filtered = df[df["aqi"] > 150]
df_filtered

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
19,2025-11-05 13:25:17.554219,US,New York,40.713,-74.006,49.693,83.965,60.763,7.811,60.188,0.589,151,11.743,58.646,6.374
44,2025-11-06 14:25:17.554219,US,New York,40.713,-74.006,78.186,114.005,17.993,5.932,18.151,0.845,156,31.779,49.093,8.211
53,2025-11-06 23:25:17.554219,US,New York,40.713,-74.006,76.530,35.490,38.587,5.023,38.581,0.679,153,28.228,50.499,3.611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17822,2025-11-12 08:25:17.554219,CH,Zurich,47.377,8.542,20.396,25.365,67.072,5.699,31.725,0.791,167,36.316,47.328,3.349
17885,2025-11-14 23:25:17.554219,CH,Zurich,47.377,8.542,52.162,35.304,76.076,6.090,44.849,0.557,190,6.196,32.675,4.792
17886,2025-11-15 00:25:17.554219,CH,Zurich,47.377,8.542,92.897,91.800,7.016,6.932,21.053,0.805,185,17.023,39.594,7.624
17888,2025-11-15 02:25:17.554219,CH,Zurich,47.377,8.542,51.223,69.873,64.933,6.655,31.039,1.017,162,8.356,82.557,3.340
17993,2025-11-19 11:25:17.554219,CH,Zurich,47.377,8.542,76.613,37.495,29.662,5.419,57.042,1.103,153,20.437,79.602,2.663

In [ ]:
# Q9 – Sort by PM2.5 descending
# Your answer here: